@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RVAS DOMACI - MARKO MAKSIMOVIC 1419S - CHAT APP</h1>
    <p>Udjite ili kreirajte chat sobu i pisite poruke koje drugi mogu da citaju</p>
</div>
